@use "mixins" as *;

.hero {
  margin-bottom: 108px;
  margin-top: 150px;

  @include lg {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  // .hero__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 175px;

    @include lg {
      gap: 50px;
    }
  }

  // .hero__title
  &__title {
    font-size: 4.5833vw;
    text-align: center;
    letter-spacing: 0%;
    text-transform: uppercase;

    @include xl {
      font-size: 3.125vw;
    }

    @include md {
      font-size: 30px;
    }
  }

  // .hero__info
  &__info {
    display: flex;
    flex-direction: column;
    align-items: end;

    @include lg {
      align-items: center;
    }

    a {
      display: block;
      font-family: Romul;
      background-color: rgba(255, 255, 255, 0.3);
      outline: 1px solid #fff;
      border-radius: 50px;
      text-align: center;
      width: 100%;
      padding: 0.989583vw 1.510416vw;
      font-size: 1.5625vw;

      @include xl {
        font-size: 16px;
        padding: 16px;
      }

      @include lg {
        font-size: 15px;
      }
    }
  }

  // .hero__info-row
  &__info-row {
    display: flex;
    gap: 18px;
    margin-bottom: 16px;

    @include lg {
      flex-direction: column;
      align-items: center;
    }
  }


  &__award,
  &__text
  {
    width: 14.9479vw;
    height: 15.4166vw;
    padding: 0.9375vw 1.302vw;

    @include xl {
      width: 280px;
      height: 290px;
    }
  }
  // .hero__award
  &__award,
  &__text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    outline: 1px solid #fff;

    .liquid-glass--edge,
    .liquid-glass--face,
    .liquid-glass--bend,
    .liquid-glass {
      border-radius: 40px;
    }
  }

  // .hero__text
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

    background-color: rgba(255, 255, 255, 0.5);
    color: #16304A;
    font-size: 0.8854vw;
    font-weight: 400;
    outline: 1px solid #fff;

    @include xl {
      font-size: 16px;
    }

    .liquid-glass--edge,
    .liquid-glass--face,
    .liquid-glass--bend,
    .liquid-glass {
      border-radius: 40px;
    }
  }
}