@use "mixins" as *;

.key-advantages {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0 0 100px 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 50%, rgba(153, 153, 153, 0.1) 100%);
  margin-bottom: 72px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: 0;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom,
            rgba(0,0,0,0) 0,
            rgba(0,0,0,1) 20%
    );
  }
  // .key-advantages__wrapper
  &__wrapper {
    position: relative;
  }

  // .key-advantages__title
  &__title {
    text-align: center;
    font-size: 4.5833vw;
    margin-bottom: 1.82291666vw;

    @include xl {
      font-size: 3.125vw;
      margin-bottom: 30px;
    }

    @include md {
      font-size: 30px;
    }
  }

  // .key-advantages__tabs-wrapper
  &__tabs-wrapper {

  }

  // .key-advantages__tabs-nav
  &__tabs-nav {
    width: 100%;
    padding: 0.9375vw 3.64583vw;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-bottom: 0.9375vw;

    @include xl {
      margin-bottom: 28px;
      padding: 18px 30px;
    }

    .liquid-glass--edge,
    .liquid-glass--face,
    .liquid-glass--bend,
    .liquid-glass {
      border-radius: 50px;
    }

    .liquid-glass__link {
      display: flex;
      justify-content: space-between;
      gap: 2.65625vw;
      font-size: 1.0416vw;

      @media (max-width: 1440px) {
        font-size: 0.842vw;
      }

      @include xl {
        font-size: 20px;
      }

      @include xl {
        flex-wrap: nowrap;
        overflow: scroll;
        padding: 16px 16px;
        gap: 20px;
      }
    }
  }

  // .key-advantages__nav-item
  &__nav-item {
  }

  .tabs__nav-btn--active {
    background-color: #16304A5A;
  }

  // .key-advantages__nav-btn
  &__nav-btn {
    padding: 0.416vw 0.52083vw;
    border-radius: 50px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #16304A5A;
    }

    @include xl {
      padding: 8px 10px;
      white-space: nowrap;
    }
  }

  // .key-advantages__tabs-container
  &__tabs-container {
    margin-bottom: 5.3125vw;
  }

  // .key-advantages__tab-content
  &__tab-content {
  }

  // .key-advantages__tab-content-text
  &__tab-content-text {
    color: #16304A;
    font-size: 0.885416vw;
    padding: 1.0416vw 1.09375vw;
    border-radius: 40px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.6666vw;
    font-weight: 400;

    @include xl {
      padding: 10px 21px;
      margin-bottom: 30px;
    }

    @include lg {
      font-size: 16px;
    }
  }

  // .key-advantages__tab-content-grid
  &__tab-content-grid {
    display: grid;
    gap: 2.96875vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @media (max-width: 1440px)  {
      gap: 1.96875vw;
    }

    @include xl {
      grid-template-columns: 1fr 1fr;
    }

    @include lg {
      display: none;
    }
  }

  // .key-advantages__tab-card
  &__tab-card {
    height: 400px;
    position: relative;
    padding: 40px 3px;
    border-radius: 40px;
    outline: 1px solid #fff;
    overflow: hidden;
    font-family: Romul;
    background: rgba(255, 255, 255, 10);
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

    @media (max-width: 1600px) {
      height: 300px;
    }

    .liquid-glass--edge,
    .liquid-glass--face,
    .liquid-glass--bend,
    .liquid-glass {
      border-radius: 40px;
    }

    @include lg {
      max-width: 320px;
      flex-shrink: 0;
      margin: 0 auto;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      bottom: 0;
    }

    h4 {
      position: relative;
      text-align: center;
      font-size: 1.458333333vw;
      color: #16304A;
      z-index: 1;

      @include xl {
        font-size: 18px;
      }
    }
  }
}
.key-swiper {
  display: none !important;

  @include lg {
    display: block !important;
  }
}