@use "mixins" as *;

.header {
  font-size: 1.0417vw;
  z-index: 10;

  @include xxl {
    position: sticky;
    top: 0;
    font-size: 16px;
  }
  // .header__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.04vw;
  }

  // .header__conent
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //gap: 8.6459vw;

    @include xl {
      display: none;
      border: #fff solid 1px;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
      padding: 15px;
    }
  }

  // .header__center
  &__center {
    display: flex;
    gap: 2.65625vw;
    align-items: center;
    justify-content: center;
    //margin-left: 10.78125vw;

    @include xxl {
      gap: 20px;
    }

    @include xl {
      flex-direction: column;
      align-items: center;
    }
  }
}

.logo {
  display: block;
  width: 8.22917vw;
  height: 7.60417vw;
  @include xxl {
    width: 100px;
    height: auto;
  }
}

.burger {
  @include burger;

  &__wrapper {
    display: none;

    @include xxl {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}

.menu {
  ul {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 2.65625vw;
    padding: 0.9375vw 2.083vw;
    border: #fff solid 1px;
    border-radius: 50px;
    background-color: #D9D9D91A;

    //@media (max-width: 1500px) {
    //  gap: 10px;
    //}

    @include xxl {
      gap: 5px;
      padding: 8px 20px;
    }

    @include xl {
      flex-direction: column;
      background-color: #00000000;
      border: none;

    }
  }

  li {
    a {
      display: block;
      text-align: center;
      width: 100px;
      padding: 0.417vw 0;
      border-radius: 50px;

      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: #16304A;
      }
    }
  }
}

.make-call {
  display: flex;
  flex-direction: column;
  gap: 0.3125vw;
  a {
    text-align: center;
    align-self: start;
    padding: 0.3125vw 1.5625vw;

    @include xl {
      align-self: center;
    }
  }

  @include xl {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.social-header {
  display: flex;
  flex-direction: column;
  gap: 4px;

  a {
    white-space: nowrap;
    @include xl {
      text-align: center;
    }
  }

  &.-desktop- {
    @include xl {
      display: none;
    }

    @include md {
      display: block;
    }
  }

  &.-mobile- {
    display: none;

    @include xl {
      display: block;
    }

    @include md {
      display: none;
    }
  }

  ul {
    display: flex;
    gap: 1.0417vw;
    a {
      width: 3.5416vw;
      height: 3.5416vw;
      display: block;

      @include xl {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.header__menus--active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110px;
  width: 300px;
  right: 20px;
}